modules = ["nodejs-20", "nix", "bash"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 1653
externalPort = 8008

[[ports]]
localPort = 2203
externalPort = 3001

[[ports]]
localPort = 2933
externalPort = 6800

[[ports]]
localPort = 3392
externalPort = 80

[[ports]]
localPort = 4368
externalPort = 3000

[[ports]]
localPort = 4493
externalPort = 3003

[[ports]]
localPort = 5752
externalPort = 3002

[[ports]]
localPort = 5896
externalPort = 6000

[[ports]]
localPort = 6805
externalPort = 4200

[[ports]]
localPort = 9256
externalPort = 5173

[[ports]]
localPort = 9264
externalPort = 8080

[[ports]]
localPort = 9512
externalPort = 5000

[[ports]]
localPort = 9800
externalPort = 8000
